.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	padding: 5px 10%;
	width: 100%;
	.logo {
		cursor: pointer;
		img {
			height: 120px;
			width: auto;
			transition: all 0.3s;
			margin-top: 20px;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}